{% extends 'base.html' %}

{% block body %}
<div>
  <style>
    body {
      font-family:      Verdana, Geneva, Arial, sans-serif;
      font-size:        medium;
      background-color: #bee2e7;
      margin-top:       5%;
      margin-bottom:    5%;
      margin-left:      10%;
      margin-right:     10%;
      border:           1px dotted gray;
      padding:          10px 10px 10px 10px;
    }
    table{
      border-collapse:collapse;
      table-layout:fixed;
      border-radius:5px;
      overflow:hidden;
      margin: 10px auto;
      border:2px solid #70aefb ;
      background-color: #328ef4;
      color: #c7dafb;
      }
     table td,th{
      /* padding: 5px;
      width: 33%; */
      text-align: center;
      border:1px solid #70aefb ;
      vertical-align:middle;
      /* font-size: 15px; */
      width: 5%;
    }
  
  </style>

<br>
<select  autofocus method='POST' onchange="window.location=this.value;width='30'">
	<option>-请点击进行选择-</option>
    <option value="2005-Heart">2005</option>
    <option value="2006-Heart">2006</option>
    <option value="2007-Heart">2007</option>
    <option value="2008-Heart">2008</option>
    <option value="2009-Heart">2009</option>
    <option value="2010-Heart">2010</option>
    <option value="2011-Heart">2011</option>
    <option value="2012-Heart">2012</option>
    <option value="2013-Heart">2013</option>
    <option value="2014-Heart">2014</option>
    <option value="2015-Heart">2015</option>
  </select>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


</div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>2005</th>
      <th>2006</th>
      <th>2007</th>
      <th>2008</th>
      <th>2009</th>
      <th>2010</th>
      <th>2011</th>
      <th>2012</th>
      <th>2013</th>
      <th>2014</th>
      <th>2015</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AL</th>
      <td>6852</td>
      <td>6839</td>
      <td>6358</td>
      <td>6478</td>
      <td>6530</td>
      <td>6604</td>
      <td>6482</td>
      <td>6682</td>
      <td>7083</td>
      <td>6933</td>
      <td>7171</td>
    </tr>
    <tr>
      <th>AK</th>
      <td>419</td>
      <td>407</td>
      <td>402</td>
      <td>424</td>
      <td>478</td>
      <td>463</td>
      <td>501</td>
      <td>456</td>
      <td>456</td>
      <td>497</td>
      <td>572</td>
    </tr>
    <tr>
      <th>AZ</th>
      <td>5325</td>
      <td>5157</td>
      <td>4978</td>
      <td>4943</td>
      <td>4866</td>
      <td>4735</td>
      <td>4970</td>
      <td>5067</td>
      <td>5077</td>
      <td>5061</td>
      <td>5405</td>
    </tr>
    <tr>
      <th>AR</th>
      <td>3825</td>
      <td>3846</td>
      <td>3689</td>
      <td>3839</td>
      <td>3806</td>
      <td>3808</td>
      <td>3820</td>
      <td>3998</td>
      <td>3998</td>
      <td>4258</td>
      <td>4399</td>
    </tr>
    <tr>
      <th>CA</th>
      <td>28204</td>
      <td>27842</td>
      <td>26477</td>
      <td>25987</td>
      <td>25443</td>
      <td>24707</td>
      <td>25121</td>
      <td>25266</td>
      <td>25563</td>
      <td>25338</td>
      <td>26674</td>
    </tr>
    <tr>
      <th>CO</th>
      <td>2884</td>
      <td>2867</td>
      <td>2874</td>
      <td>2852</td>
      <td>2883</td>
      <td>2815</td>
      <td>2860</td>
      <td>2935</td>
      <td>3014</td>
      <td>3246</td>
      <td>3259</td>
    </tr>
    <tr>
      <th>CT</th>
      <td>2854</td>
      <td>2784</td>
      <td>2724</td>
      <td>2647</td>
      <td>2635</td>
      <td>2569</td>
      <td>2566</td>
      <td>2644</td>
      <td>2612</td>
      <td>2552</td>
      <td>2606</td>
    </tr>
    <tr>
      <th>DE</th>
      <td>954</td>
      <td>909</td>
      <td>934</td>
      <td>855</td>
      <td>883</td>
      <td>857</td>
      <td>863</td>
      <td>816</td>
      <td>901</td>
      <td>929</td>
      <td>912</td>
    </tr>
    <tr>
      <th>FL</th>
      <td>19594</td>
      <td>18769</td>
      <td>18106</td>
      <td>17755</td>
      <td>17639</td>
      <td>17586</td>
      <td>17445</td>
      <td>18061</td>
      <td>18317</td>
      <td>19121</td>
      <td>19802</td>
    </tr>
    <tr>
      <th>GA</th>
      <td>9428</td>
      <td>9162</td>
      <td>8962</td>
      <td>8955</td>
      <td>9317</td>
      <td>9103</td>
      <td>9094</td>
      <td>9026</td>
      <td>9673</td>
      <td>9911</td>
      <td>10404</td>
    </tr>
    <tr>
      <th>HI</th>
      <td>1127</td>
      <td>1101</td>
      <td>1047</td>
      <td>1087</td>
      <td>1079</td>
      <td>1007</td>
      <td>1071</td>
      <td>1097</td>
      <td>1175</td>
      <td>1217</td>
      <td>1214</td>
    </tr>
    <tr>
      <th>ID</th>
      <td>1064</td>
      <td>1089</td>
      <td>1088</td>
      <td>1031</td>
      <td>1116</td>
      <td>1080</td>
      <td>1135</td>
      <td>1130</td>
      <td>1130</td>
      <td>1240</td>
      <td>1245</td>
    </tr>
    <tr>
      <th>IL</th>
      <td>12935</td>
      <td>12240</td>
      <td>11752</td>
      <td>11970</td>
      <td>11592</td>
      <td>11424</td>
      <td>11427</td>
      <td>11386</td>
      <td>11514</td>
      <td>11839</td>
      <td>11953</td>
    </tr>
    <tr>
      <th>IN</th>
      <td>6972</td>
      <td>6941</td>
      <td>6579</td>
      <td>6479</td>
      <td>6476</td>
      <td>6421</td>
      <td>6502</td>
      <td>6558</td>
      <td>6581</td>
      <td>6779</td>
      <td>6939</td>
    </tr>
    <tr>
      <th>IA</th>
      <td>2858</td>
      <td>2793</td>
      <td>2677</td>
      <td>2771</td>
      <td>2687</td>
      <td>2716</td>
      <td>2645</td>
      <td>2741</td>
      <td>2821</td>
      <td>2622</td>
      <td>2700</td>
    </tr>
    <tr>
      <th>KS</th>
      <td>2439</td>
      <td>2388</td>
      <td>2310</td>
      <td>2285</td>
      <td>2204</td>
      <td>2248</td>
      <td>2173</td>
      <td>2294</td>
      <td>2232</td>
      <td>2402</td>
      <td>2406</td>
    </tr>
    <tr>
      <th>KY</th>
      <td>5693</td>
      <td>5519</td>
      <td>5274</td>
      <td>5351</td>
      <td>5364</td>
      <td>5332</td>
      <td>5459</td>
      <td>5616</td>
      <td>5502</td>
      <td>5798</td>
      <td>5941</td>
    </tr>
    <tr>
      <th>LA</th>
      <td>6065</td>
      <td>5691</td>
      <td>5430</td>
      <td>5737</td>
      <td>5705</td>
      <td>5784</td>
      <td>5439</td>
      <td>5746</td>
      <td>5887</td>
      <td>6149</td>
      <td>6092</td>
    </tr>
    <tr>
      <th>ME</th>
      <td>1337</td>
      <td>1244</td>
      <td>1275</td>
      <td>1171</td>
      <td>1097</td>
      <td>1083</td>
      <td>1118</td>
      <td>1089</td>
      <td>1162</td>
      <td>1167</td>
      <td>1297</td>
    </tr>
    <tr>
      <th>MD</th>
      <td>5656</td>
      <td>5543</td>
      <td>5450</td>
      <td>5386</td>
      <td>5384</td>
      <td>5321</td>
      <td>5016</td>
      <td>5211</td>
      <td>5415</td>
      <td>5476</td>
      <td>5692</td>
    </tr>
    <tr>
      <th>MA</th>
      <td>5215</td>
      <td>4848</td>
      <td>4908</td>
      <td>4764</td>
      <td>4696</td>
      <td>4416</td>
      <td>4367</td>
      <td>4345</td>
      <td>4485</td>
      <td>4382</td>
      <td>4511</td>
    </tr>
    <tr>
      <th>MI</th>
      <td>11678</td>
      <td>11127</td>
      <td>11084</td>
      <td>10955</td>
      <td>10454</td>
      <td>10327</td>
      <td>10635</td>
      <td>10764</td>
      <td>11093</td>
      <td>11461</td>
      <td>11495</td>
    </tr>
    <tr>
      <th>MN</th>
      <td>3123</td>
      <td>2913</td>
      <td>2833</td>
      <td>2847</td>
      <td>2820</td>
      <td>2720</td>
      <td>2789</td>
      <td>2894</td>
      <td>2937</td>
      <td>2951</td>
      <td>2954</td>
    </tr>
    <tr>
      <th>MS</th>
      <td>4695</td>
      <td>4404</td>
      <td>4430</td>
      <td>4341</td>
      <td>4150</td>
      <td>4183</td>
      <td>4042</td>
      <td>4110</td>
      <td>4404</td>
      <td>4428</td>
      <td>4574</td>
    </tr>
    <tr>
      <th>MO</th>
      <td>6907</td>
      <td>6782</td>
      <td>6599</td>
      <td>6854</td>
      <td>6574</td>
      <td>6553</td>
      <td>6633</td>
      <td>6600</td>
      <td>6875</td>
      <td>7113</td>
      <td>7311</td>
    </tr>
    <tr>
      <th>MT</th>
      <td>827</td>
      <td>812</td>
      <td>828</td>
      <td>923</td>
      <td>845</td>
      <td>826</td>
      <td>908</td>
      <td>890</td>
      <td>931</td>
      <td>910</td>
      <td>982</td>
    </tr>
    <tr>
      <th>NE</th>
      <td>1343</td>
      <td>1316</td>
      <td>1298</td>
      <td>1254</td>
      <td>1219</td>
      <td>1252</td>
      <td>1233</td>
      <td>1201</td>
      <td>1220</td>
      <td>1288</td>
      <td>1386</td>
    </tr>
    <tr>
      <th>NV</th>
      <td>3173</td>
      <td>3103</td>
      <td>2819</td>
      <td>2840</td>
      <td>2929</td>
      <td>2903</td>
      <td>3090</td>
      <td>3083</td>
      <td>3312</td>
      <td>3517</td>
      <td>3773</td>
    </tr>
    <tr>
      <th>NH</th>
      <td>1025</td>
      <td>1033</td>
      <td>1021</td>
      <td>941</td>
      <td>957</td>
      <td>916</td>
      <td>957</td>
      <td>929</td>
      <td>1044</td>
      <td>976</td>
      <td>1039</td>
    </tr>
    <tr>
      <th>NJ</th>
      <td>8178</td>
      <td>7842</td>
      <td>7280</td>
      <td>7214</td>
      <td>6728</td>
      <td>7106</td>
      <td>6950</td>
      <td>6969</td>
      <td>7044</td>
      <td>7145</td>
      <td>7159</td>
    </tr>
    <tr>
      <th>NM</th>
      <td>1636</td>
      <td>1604</td>
      <td>1542</td>
      <td>1552</td>
      <td>1579</td>
      <td>1510</td>
      <td>1557</td>
      <td>1570</td>
      <td>1655</td>
      <td>1642</td>
      <td>1719</td>
    </tr>
    <tr>
      <th>NY</th>
      <td>20443</td>
      <td>19890</td>
      <td>19403</td>
      <td>19251</td>
      <td>18466</td>
      <td>17371</td>
      <td>17001</td>
      <td>16827</td>
      <td>17348</td>
      <td>17127</td>
      <td>17651</td>
    </tr>
    <tr>
      <th>NC</th>
      <td>9253</td>
      <td>9079</td>
      <td>9002</td>
      <td>9016</td>
      <td>9000</td>
      <td>9021</td>
      <td>8947</td>
      <td>9041</td>
      <td>9459</td>
      <td>9223</td>
      <td>9743</td>
    </tr>
    <tr>
      <th>ND</th>
      <td>544</td>
      <td>568</td>
      <td>525</td>
      <td>496</td>
      <td>574</td>
      <td>512</td>
      <td>500</td>
      <td>523</td>
      <td>527</td>
      <td>542</td>
      <td>539</td>
    </tr>
    <tr>
      <th>OH</th>
      <td>13439</td>
      <td>12913</td>
      <td>12139</td>
      <td>12607</td>
      <td>11380</td>
      <td>11875</td>
      <td>11855</td>
      <td>12137</td>
      <td>12408</td>
      <td>12697</td>
      <td>13156</td>
    </tr>
    <tr>
      <th>OK</th>
      <td>4893</td>
      <td>4814</td>
      <td>4819</td>
      <td>4955</td>
      <td>4756</td>
      <td>4857</td>
      <td>4849</td>
      <td>4927</td>
      <td>5270</td>
      <td>5300</td>
      <td>5676</td>
    </tr>
    <tr>
      <th>OR</th>
      <td>2730</td>
      <td>2742</td>
      <td>2713</td>
      <td>2662</td>
      <td>2532</td>
      <td>2421</td>
      <td>2476</td>
      <td>2434</td>
      <td>2638</td>
      <td>2622</td>
      <td>2792</td>
    </tr>
    <tr>
      <th>PA</th>
      <td>15021</td>
      <td>14113</td>
      <td>13406</td>
      <td>13343</td>
      <td>13101</td>
      <td>12668</td>
      <td>12577</td>
      <td>12296</td>
      <td>12584</td>
      <td>12689</td>
      <td>13153</td>
    </tr>
    <tr>
      <th>RI</th>
      <td>1109</td>
      <td>980</td>
      <td>971</td>
      <td>939</td>
      <td>827</td>
      <td>820</td>
      <td>844</td>
      <td>833</td>
      <td>830</td>
      <td>855</td>
      <td>876</td>
    </tr>
    <tr>
      <th>SC</th>
      <td>5370</td>
      <td>5255</td>
      <td>5161</td>
      <td>5103</td>
      <td>5167</td>
      <td>5413</td>
      <td>5340</td>
      <td>5364</td>
      <td>5604</td>
      <td>5742</td>
      <td>5938</td>
    </tr>
    <tr>
      <th>SD</th>
      <td>694</td>
      <td>693</td>
      <td>615</td>
      <td>634</td>
      <td>658</td>
      <td>590</td>
      <td>629</td>
      <td>668</td>
      <td>685</td>
      <td>741</td>
      <td>701</td>
    </tr>
    <tr>
      <th>TN</th>
      <td>7880</td>
      <td>7956</td>
      <td>7642</td>
      <td>7885</td>
      <td>7719</td>
      <td>7956</td>
      <td>7807</td>
      <td>8116</td>
      <td>8245</td>
      <td>8741</td>
      <td>9032</td>
    </tr>
    <tr>
      <th>TX</th>
      <td>20559</td>
      <td>20119</td>
      <td>20170</td>
      <td>20040</td>
      <td>20091</td>
      <td>19939</td>
      <td>20398</td>
      <td>20718</td>
      <td>21512</td>
      <td>22558</td>
      <td>23536</td>
    </tr>
    <tr>
      <th>UT</th>
      <td>1200</td>
      <td>1249</td>
      <td>1289</td>
      <td>1231</td>
      <td>1214</td>
      <td>1229</td>
      <td>1223</td>
      <td>1307</td>
      <td>1403</td>
      <td>1349</td>
      <td>1431</td>
    </tr>
    <tr>
      <th>VT</th>
      <td>493</td>
      <td>537</td>
      <td>475</td>
      <td>505</td>
      <td>483</td>
      <td>482</td>
      <td>495</td>
      <td>479</td>
      <td>513</td>
      <td>536</td>
      <td>561</td>
    </tr>
    <tr>
      <th>VA</th>
      <td>7210</td>
      <td>7035</td>
      <td>6852</td>
      <td>6854</td>
      <td>6684</td>
      <td>6588</td>
      <td>6435</td>
      <td>6583</td>
      <td>6728</td>
      <td>6978</td>
      <td>7113</td>
    </tr>
    <tr>
      <th>WA</th>
      <td>4756</td>
      <td>4569</td>
      <td>4685</td>
      <td>4686</td>
      <td>4523</td>
      <td>4437</td>
      <td>4502</td>
      <td>4527</td>
      <td>4560</td>
      <td>4857</td>
      <td>4856</td>
    </tr>
    <tr>
      <th>WV</th>
      <td>2703</td>
      <td>2613</td>
      <td>2511</td>
      <td>2502</td>
      <td>2392</td>
      <td>2400</td>
      <td>2414</td>
      <td>2475</td>
      <td>2370</td>
      <td>2380</td>
      <td>2334</td>
    </tr>
    <tr>
      <th>WI</th>
      <td>4820</td>
      <td>4600</td>
      <td>4472</td>
      <td>4615</td>
      <td>4495</td>
      <td>4513</td>
      <td>4573</td>
      <td>4653</td>
      <td>4614</td>
      <td>4710</td>
      <td>4785</td>
    </tr>
    <tr>
      <th>WY</th>
      <td>500</td>
      <td>486</td>
      <td>483</td>
      <td>497</td>
      <td>495</td>
      <td>492</td>
      <td>497</td>
      <td>518</td>
      <td>471</td>
      <td>537</td>
      <td>546</td>
    </tr>
  </tbody>
</table>
</br>
</br>
{% endblock %}
